<body style="background-color:blue"><br><br><br><br><br>
<h1 align= "center" style="color:red; background-color:yellow"><%= @search.email%></h1><br>
<h1 align= "center" style="color:red; background-color:yellow"><%= @search.firstname%><%= " " %><%= @search.lastname%></h1><br>
<h1 align= "center" style="color:red; background-color:yellow"><%= @search.city%></h1>
<h1 align= "center" style="color:red; background-color:yellow"><%= @search.DOB %></h1>
</body>